.history-container {
    width: 100%;
    min-height: 65vh;
    background-color: var(--color-background-forms);
    border-radius: 2.15rem;
    padding: 2.4rem 2.4rem;
}

.tabs {
    gap: 0.48rem;
    padding: 0.375rem;
    border-radius: 1.5rem;
}

.tab-button {
    background: transparent;
    border: none;
    color: var(--color-text-general);
    width: 21.6rem;
    height: 4.8rem;
    border-radius: 2.15rem;
    cursor: pointer;
    font: bold 2.4rem "Quantico", sans-serif;

    margin-bottom: 1.2rem;
}

.tab-button.active {
    background-color: var(--color-field-input);
}

.history-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "data tabuleiro resultado jogadas";
    padding: 0 1.5rem 0.75rem 10.5rem;
    color: var(--color-text-general);
    font-weight: bold;
    text-align: center;
    border-bottom: 0.15rem solid var(--color-background-general);
}

.list-item {
    background-color: var(--color-field-input);
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    color: var(--color-text-general);
    border: solid 0.075rem white;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 9rem;
}

.player-info img {
    width: 1.8rem;
    height: 1.8rem;
}

.match-info {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

.match-info span {
    border-left: 0.075rem solid var(--color-background-general);
    padding: 0.375rem 0;
}

.match-info span:first-child {
    border-left: none;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.2rem;
}

.pagination img {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
}