input[type="radio"] {
  display: none;
}

#content-hub {

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  padding: 1.5rem 3.75rem;

  margin-bottom: 2.4rem;

}


.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5vw;
  margin-bottom: 2.4rem;
}

.modo-opcao {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-radius: 0.9rem;
  width: 24rem;
  min-height: 13.5rem;
  padding: 1.2rem;

  cursor: pointer;
  transition: background-color 0.3s;
}


input[type="radio"]:checked + .modo-opcao {
  background-color: var(--color-field-input);
}

.modo-opcao:hover {
  background-color: var(--color-field-input);
}


.title01,
.title02 {
  font-size: 2.1rem; 
  color: var(--color-text-general);
  margin-bottom: 1.2rem;
}


.classic,
.contratempo {
  width: 9rem;
  height: auto;
}


.linha {
  width: 100%;
  height: 0.15rem; 
  background-color: var(--color-background-general);
  border-radius: 0.07rem;
}

.subtitulo {
  font-size: 2.75rem; 
  font-weight: bold;
  color: var(--color-text-general);
  margin: 0 0 1.2rem 0;
}

#config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2.4rem;
  gap: 8.4rem;

  
}

.config-left {
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
  margin-left: 120px;
}

.config-right {
  display: flex;
  align-items: center;
  gap: 19.2px;
  margin-right: 120px;

}

.tab-options {
  display: flex;
  gap: 1.2rem;
}

.tab-option {
  font-size: 1.9rem;
  color: var(--color-text-general);
  text-decoration: none;
   width: 6rem;
  height: 2.65rem;
  border-radius: 1.8rem; 
  transition: background-color 0.3s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}


input[type="radio"]:checked + .tab-option {
  background-color: var(--color-field-input);
}

.tab-option:hover {
  background-color: var(--color-field-input);
}

.iniciar {
  font-size: 2.05rem;
  background-color: var(--color-button);
  color: var(--color-text-general);
  font-weight: bold;
  text-decoration: none;
  width: 12.5rem;
  height: 4.5rem;
  border-radius: 1.95rem; 
  transition: background-color 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;

    box-shadow: 0.24rem 0.24rem black;

}

.iniciar:hover {
  background-color: var(--color-button);
}