html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.head-logo{
  width: 5.25rem;
  height: auto;
  transform: translateY(1.35rem);
}

.head-logo.left {
 transform: scaleX(-1) translateY(1.35rem);

}
#memoria-text{
  display: inline;
  color: var(--color-text-general);
  font-size: 3.85em;   
  padding: 0 2.4rem;              

}
#Formulario {
  display: flex;
  flex-direction: column;
  background-color: var( --color-background-forms);
  gap: 1.2rem;
  align-items: center;
  min-height: 100vh;
  padding: 0 12px 0 12px;

  justify-content: center; 

}

#Formulario h2{
  color: var(--color-text-general);
  font-size: 3.6rem;
  font-weight: 100;
  margin: 3.6rem 0 1.5rem 0;

}

#Formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

#Formulario input{
  border-radius: 2.9rem;

  color: var(--color-text-general);

  border: none;

  width: 100%;
  height: 4.8rem;
  max-width: 26.5rem;

  background: var(--color-field-input);
  text-align: center;
}

#Formulario input::placeholder{
  color: var(--color-label-text);
  text-align: center;
  font: italic 400 1.95rem "Quantico", sans-serif; 
  line-height: normal;
}

#Formulario #user{
   margin-bottom: 2.4rem;
}

#Formulario #password{
  margin-bottom: 1.2rem;
}

#Formulario #botao-criar-conta {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-button);
  color: var(--color-text-general);

  font: normal 700 1.7rem "Quantico", sans-serif;
  text-align: center;
  text-decoration: none;

  width: 18rem;
  height: 3.25rem;
  border-radius: 1.95rem; 

  box-shadow: 0.24rem 0.24rem black;

}

#Formulario #botao-criar-conta:hover{
  color: var(--color-text-hover);
  transition: 400ms;
  cursor: pointer;
}


#botao-entrar {
    background-color: transparent; 
    border: none;                  
    padding: 0;                    
    cursor: pointer;               
   
    transform: translateY(3.6rem);
    
   
    display: inline-block;
}

#botao-entrar img {
    width: 8.5rem;       
    height: auto;      
    display: block;    
}


#footer{
  color: var(--color-text-general);
  text-align: center;
  font-size: 1.35rem; 
  margin-top: 9.6rem;
}