html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.head-logo{
  width: 4.375rem;
  height: auto;
  transform: translateY(1.125rem);
}

.head-logo.left {
 transform: scaleX(-1) translateY(1.125rem);

}
#memoria-text{
  display: inline;
  color: var(--color-text-general);
  font-size: 3.2em;   
  padding: 0 2rem;              

}
#Formulario {
  display: flex;
  flex-direction: column;
  background-color: var( --color-background-forms);
  gap: 1rem;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px 0 10px;

  justify-content: center; 

}

#Formulario h2{
  color: var(--color-text-general);
  font-size: 3rem;
  font-weight: 100;
  margin: 3rem 0 1.25rem 0;

}

#Formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.8rem;
}

#Formulario input{
  border-radius: 2.4rem;

  color: var(--color-text-general);

  border: none;

  width: 100%;
  height: 4rem;
  max-width: 22rem;

  background: var(--color-field-input);
  text-align: center;
}

#Formulario input::placeholder{
  color: var(--color-label-text);
  text-align: center;
  font: italic 400 1.6rem "Quantico", sans-serif; 
  line-height: normal;
}

#Formulario #user{
   margin-bottom: 2rem;
}

#Formulario #password{
  margin-bottom: 1rem;
}

#Formulario #botao-criar-conta {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-button);
  color: var(--color-text-general);

  font: normal 700 1.4rem "Quantico", sans-serif;
  text-align: center;
  text-decoration: none;

  width: 15rem;
  height: 2.7rem;
  border-radius: 1.6rem; 

  box-shadow: 0.2rem 0.2rem black;

}

#Formulario #botao-criar-conta:hover{
  color: var(--color-text-hover);
  transition: 400ms;
  cursor: pointer;
}

/* 1. Estilo do BOTÃO (o container) */
#botao-entrar {
    background-color: transparent; /* Fundo transparente */
    border: none;                  /* Sem borda */
    padding: 0;                    /* Sem espaçamento */
    cursor: pointer;               /* Mãozinha do mouse */
    
    /* O posicionamento que você queria */
    transform: translateY(3rem);
    
    /* Garante que o botão não tenha tamanho extra */
    display: inline-block;
}

/* 2. Estilo da IMAGEM dentro do botão */
#botao-entrar img {
    width: 7rem;       /* O tamanho que você definiu antes */
    height: auto;      /* Mantém a proporção */
    display: block;    /* Remove espaços brancos fantasmas abaixo da imagem */
}


#footer{
  color: var(--color-text-general);
  text-align: center;
  font-size: 1.125rem; 
  margin-top: 8rem;
}

