/*Aq é pra colocar as estilizações gerais q todas as páginas recebem msm*/

:root {
    --color-background-lighter: #275950;
    --color-background-darker: #1E1E1E;
    --color-background-forms: #17B498;
    --color-background-general: #ffffff;
    --color-background-ranking: #FF8818;
    --color-button: #FF8818;
    --color-button-secondary: #949494;
    --color-label-text: #d1d6ce; 
    --color-nav: #012626;
    --color-text-general: #ffffff;
    --color-text-general-dark: #000000;
    --color-text-hover: #ffffff;
    --color-field-input: #0C6767;
    font-size: 60%; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(180deg, var(--color-background-lighter) 0%, var(--color-background-darker) 100%);
    font: normal 1.5rem "Quantico", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-general);
    
}

/*menu*/
#menu {
  width: 100%;
  background: var(--color-nav);
  display: flex;
  text-align: center;

}

#menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 7.5rem;
  padding: 0.75rem 0 0.75rem 0;
}


#menu a {
  flex: 1;
  color: var(--color-text-general-dark);
  background-color: var(--color-background-general);
  height: 3.4rem;
  border-radius: 1.35rem; 
  font: normal 1.35rem "Quantico", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu a:hover,
#menu a.active{
  background-color: var(--color-button);
  transition: 300ms;
  cursor: pointer;
}

.menu-icon {
  width: 1.65rem;
  height: auto;
  margin-right: 0.75rem;
}

.menu-icon,
p {
  display: inline;
}

.container {
  max-width: 82.5rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.8rem;
}

#logo,
#menu,
main {
  margin: 0;
}

main {
  justify-items: center;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0; 
}

#logo h1 {
  color: var(--color-text-general);
  font-size: 3rem;
  display: flex;
  gap: 0.75rem;
}

.img01,
.img02 {
  width: 4rem;
  height: auto;
  position: relative;
}

.img01 {
  transform: scaleX(-1);
}

.btn-sair {
  background-color: var(--color-background-general);
  color: var(--color-text-general-dark);

  display: flex;
  align-items: center;
  gap: 0.6rem;

  padding: 0.6rem 1.2rem;

  height: 2.65rem;
  border-radius: 1.2rem;

  text-decoration: none;
  font-size: 1.05rem;

  box-shadow: 0.24rem 0.24rem black;

}

.btn-sair img {
   width: 1.2rem;
  height: 1.2rem;
}

.title-hub {
  font-size: 3.15rem;
  text-align: center;
  margin: 2.6rem 0 1.2rem 0;
  color: var(--color-background-general);
}

.main-container{
    width: 100%;
    min-height: 65vh;
    background-color: var(--color-background-forms);
    border-radius: 2.15rem;
    padding: 4.8rem 6rem;
}