.profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 3rem;
    margin-top: 2.15rem;
} 

.form-field label {
    font: italic 1.7rem "Quantico", sans-serif;
}

.form-field input {
    color: var(--color-text-input);
    background-color: var(--color-field-input);
    border-radius: 1.5rem;
    height: 2.7rem;
    padding: 0 1.5rem;
    font: italic 1.2rem "Quantico", sans-serif;
    border: none;
    width: 100%;
}

.form-field input::placeholder{
    color: var(--color-text-general);
    opacity: 0.7;
}

#form-actions {
    display: flex;
    flex-direction: column; 
    margin-top: 1.5rem;
    gap: 1.15rem; 
}

.btn-update, .btn-cancel {
    border: none;
    border-radius: 1.9rem;
    padding: 0.9rem 1.9rem;
    cursor: pointer;
    display: flex;
    gap: 0.75rem;
    
    font-weight: 700;
    font-size: 1.45rem;
    color: var(--color-text-general);

    width: 18rem;
    height: auto;

    box-shadow: 0.24rem 0.24rem black;

}

.btn-update img, .btn-cancel img {
    width: 1.35rem;
}


.btn-update {
    background-color: var(--color-button);
}

.btn-cancel {
    background-color: var(--color-button-secondary);

}