
.ranking-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "data tabuleiro resultado jogadas";
    padding: 0 1.25rem 0.5rem 8.75rem; 
    color: var(--color-text-general);
    font-weight: bold;
    text-align: center;
}

.list-item {
    background-color: var(--color-background-ranking);
    padding: 0.5rem 1.25rem; 
    height: 3.2rem;
    display: flex;
    align-items: center;
    color: var(--color-text-general-dark);
    border: solid 0.063rem var(--color-text-general-dark);
}

.player-info {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    width: 7.5rem;
}

.player-info img {
    width: 1.2rem; 
    height: 1.2rem; 
}

.match-info {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

.match-info span {
    border-left: 0.063rem solid var(--color-text-general-dark);
    padding: 0.2rem 0; 
    font-size: 1rem;
}

.match-info span:first-child {
    border-left: none;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.8rem; 
}

.pagination img {
    width: 2.5rem; 
    height: 2.5rem;
    cursor: pointer;
}