.ranking-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "data tabuleiro resultado jogadas";
    padding: 0 1.5rem 0.6rem 10.5rem; 
    color: var(--color-text-general);
    font-weight: bold;
    text-align: center;
}

.list-item {
    background-color: var(--color-background-ranking);
    padding: 0.6rem 1.5rem; 
    height: 3.85rem;
    display: flex;
    align-items: center;
    color: var(--color-text-general-dark);
    border: solid 0.075rem var(--color-text-general-dark);
}

.player-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 9rem;
}

.player-info img {
    width: 1.45rem; 
    height: 1.45rem; 
}

.match-info {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

.match-info span {
    border-left: 0.075rem solid var(--color-text-general-dark);
    padding: 0.24rem 0; 
    font-size: 1.2rem;
}

.match-info span:first-child {
    border-left: none;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem; 
}

.pagination img {
    width: 3rem; 
    height: 3rem;
    cursor: pointer;
}