.profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 3rem;
    margin-top: 2.2rem;
} 

.form-field label {
    font: italic 1.7rem "Quantico", sans-serif;
}

.form-field input {
    color: var(--color-text-input);
    background-color: var(--color-field-input);
    border-radius: 1.5rem;
    height: 2.7rem;
    padding: 0 1.5rem;
    font: italic 1.2rem "Quantico", sans-serif;
    border: none;
    width: 100%;
}

.form-field input::placeholder{
    color: var(--color-text-general);
    opacity: 0.7;
}

#form-actions {
    display: flex;
    flex-direction: column; 
    margin-top: 1.5rem;
    gap: 1.15rem; 
}

#btn-register{
    background-color: var(--color-button);
    border: none;
    border-radius: 1.9rem;
    padding: 0.9rem 1.9rem;
    cursor: pointer;

    gap: 1.2rem;
    
    font-weight: 700;
    font-size: 1.45rem;
    color: var(--color-text-general);

    width: fit-content;
    height: 3.6rem;

    box-shadow: 0.24rem 0.24rem black;
}

#btn-register img{
    width: 1.35rem;
}