
input[type="radio"] {
  display: none;
}



/* Contêiner do retângulo verde */
#content-hub {

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  padding: 1.25rem 3.125rem;

  margin-bottom: 2rem;

}

/* Seção dos modos de jogo */
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5vw;
  margin-bottom: 2rem;
}

.modo-opcao {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-radius: 0.75rem;
  width: 20rem;
  min-height: 11.25rem;
  padding: 1rem;

  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo do modo selecionado usando o :checked */
input[type="radio"]:checked + .modo-opcao {
  background-color: var(--color-field-input);
}

.modo-opcao:hover {
  background-color: var(--color-field-input);
}

/* Títulos "Clássico" e "Contratempo" */
.title01,
.title02 {
  font-size: 1.75rem; 
  color: var(--color-text-general);
  margin-bottom: 1rem;
}

/* Ícones */
.classic,
.contratempo {
  width: 7.5rem;
  height: auto;
}

/* Linha divisória */
.linha {
  width: 100%;
  height: 0.125rem; 
  background-color: var(--color-background-general);
  border-radius: 0.06rem;
}

.subtitulo {
  font-size: 2.3rem; 
  font-weight: bold;
  color: var(--color-text-general);
  margin: 0 0 1rem 0;
}

#config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.config-left {
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
  margin-left:100px;
}

.config-right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right:100px;

}

.tab-options {
  display: flex;
  gap: 1rem;
}

.tab-option {
  font-size: 1.56rem;
  color: var(--color-text-general);
  text-decoration: none;
   width: 5rem;
  height: 2.2rem;
  border-radius: 1.5rem; 
  transition: background-color 0.3s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo da opção de tabuleiro selecionada usando o :checked */
input[type="radio"]:checked + .tab-option {
  background-color: var(--color-field-input);
}

.tab-option:hover {
  background-color: var(--color-field-input);
}

.iniciar {
  font-size: 1.7rem;
  background-color: var(--color-button);
  color: var(--color-text-general);
  font-weight: bold;
  text-decoration: none;
  width: 10.3rem;
  height: 3.75rem;
  border-radius: 1.625rem; 
  transition: background-color 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iniciar:hover {
  background-color: var(--color-button);
}
