body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font: normal 20px "Quantico", sans-serif;
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--color-background-lighter) 0%,
    var(--color-background-darker) 100%
  );
}

input[type="radio"] {
  display: none;
}

.title-hub {
  font-size: 42px;
  text-align: center;
  margin: 35px 0 15px 0;
  color: var(--color-background-general);
}

/* Contêiner do retângulo verde */
.retangulo {
  background: var(--color-background-forms);
  box-sizing: border-box;
  border-radius: 24px;

  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  padding: 20px 50px;

  margin-bottom: 30px;
}

/* Seção dos modos de jogo */
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.modo-opcao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  border-radius: 12px;
  width: 180px;
  height: 140px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

/* Estilo do modo selecionado usando o :checked */
input[type="radio"]:checked + .modo-opcao {
  background-color: #0c4b41;
}

.modo-opcao:hover {
  background-color: #0c6758;
}

/* Títulos "Clássico" e "Contratempo" */
.title01,
.title02 {
  font-size: 28px;
  color: white;
  margin: 0;
}

/* Ícones */
.classic,
.contratempo {
  width: 80px;
  height: auto;
}

/* Linha divisória */
.linha {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}

.subtitulo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
}

/* Container da parte inferior */
.config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tab-options {
  display: flex;
  gap: 15px;
}

.tab-option {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

/* Estilo da opção de tabuleiro selecionada usando o :checked */
input[type="radio"]:checked + .tab-option {
  background-color: #0c4b41;
}

.tab-option:hover {
  background-color: #0c6758;
}

.iniciar {
  background-color: var(--color-button);
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.iniciar:hover {
  background-color: var(--color-button);
}
