
div.logo{
  padding-top:23px;
}
.head-logo{
  width: 70px;
  height: auto;
  transform: translateY(18px);
}

.head-logo.left {
 transform: scaleX(-1) translateY(18px);

}
#memoria-text{
  display: inline;
  color: var(--color-text-general);
  font-size: 6em;   
  padding: 0 32px 0 32px;              

}
#Formulario {
  display: flex;
  flex-direction: column;
  background-color: var( --color-background-forms);
  gap: 15px;
  align-items: center;
  height: 100%;
  width: 570px;

}

#Formulario h2{
  color: var(--color-text-general);
  font-size: 40px;
  font-weight: 100;
  margin: 40px 0 20px 0;

}

#Formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#Formulario input{
  border-radius: 12px;
  color: var(--color-text-general);
  border: none;
  width:300px;
  height: 50px;
  background: #2f5a50;
  text-align: center;
}

#Formulario input::placeholder{
  color: var(--color-label-text);
  text-align: center;
  font: italic 400 20px "Quantico", sans-serif;
  line-height: normal;
}

#Formulario #user{
  margin-bottom: 20px;
}

#Formulario #password{
  margin-bottom: 7px;
}

#Formulario #botao-criar-conta {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-button);
  color: var(--color-text-general);

  font: normal 700 14px "Quantico", sans-serif;
  text-align: center;
  text-decoration: none;

  width: 160px;
  height: 30px;
  border-radius: 13px;
}

#Formulario #botao-criar-conta:hover{
  color: var(--color-text-hover);
  transition: 400ms;
  cursor: pointer;
}

img#botao-entrar{
  width: 65px;
  transform: translateY(25px)
}


#footer{
  color: var(--color-text-general);
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

