/*Aq é pra colocar as estilizações gerais q todas as páginas recebem msm*/

:root {
    --color-background-lighter: #275950;
    --color-background-darker: #1E1E1E;
    --color-background-forms: #17B498;
    --color-background-general: #ffffff;
    --color-background-ranking: #FF8818;
    --color-button: #FF8818;
    --color-button-secondary: #949494;
    --color-label-text: #d1d6ce; 
    --color-nav: #012626;
    --color-text-general: #ffffff;
    --color-text-general-dark: #000000;
    --color-text-hover: #ffffff;
    --color-field-input: #0C6767;
    font-size: 60%; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(180deg, var(--color-background-lighter) 0%, var(--color-background-darker) 100%);
    font: normal 1.25rem "Quantico", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-general);
    
}

/*Painel*/
#menu {
  width: 100%;
  background: var(--color-nav);
  display: flex;
  text-align: center;

}

#menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6.25rem;
  padding: 0.625rem 0 0.625rem 0;
}

/* Links do Painel: Perfil, Histórico, Ranking */
#menu a {
  flex: 1;
  color: var(--color-text-general-dark);
  background-color: var(--color-background-general);
  height: 2.8rem;
  border-radius: 1.125rem; 
  font: normal 1.125rem "Quantico", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu a:hover,
#menu a.active{
  background-color: var(--color-button);
  transition: 300ms;
  cursor: pointer;
}

/* Ícones do Painel (NOVO) - regra unificada */
.menu-icon {
  width: 1.375rem;
  height: auto;
  margin-right: 0.625rem;
}

.menu-icon,
p {
  display: inline;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

#logo,
#menu,
main {
  margin: 0;
}

main {
  justify-items: center;
  align-items: center;
}

/* Cabeçalho e logo */

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0; 
}

#logo h1 {
  color: var(--color-text-general);
  font-size: 2.5rem;
  display: flex;
  gap: 0.625rem;
}

.img01,
.img02 {
  width: 3.25rem;
  height: auto;
  position: relative;
}

.img01 {
  transform: scaleX(-1);
}

.btn-sair {
  background-color: var(--color-background-general);
  color: var(--color-text-general-dark);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem;

  height: 2.2rem;
  border-radius: 1rem;

  text-decoration: none;
  font-size: 0.875rem;
}

.btn-sair img {
   width: 1rem;
  height: 1rem;
}


.title-hub {
  font-size: 2.625rem;
  text-align: center;
  margin: 2.18rem 0 1rem 0;
  color: var(--color-background-general);
}
