/*Aq é pra colocar as estilizações gerais q todas as páginas recebem msm*/

:root {
    --color-background-lighter: #275950;
    --color-background-darker: #1E1E1E;
    --color-label-text: #d1d6ce; 
    --color-text-general: #ffffff;
    --color-text-hover: #ffffff;
    font-size: 70%; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    font-family: "Geo", sans-serif;
    

}